.footer-hr {
  width: 80%;
  margin: 70px auto;
}
.footer {
  display: flex;
  justify-content: space-evenly;
}
.footer-right,
.footer-left {
  display: flex;
  flex-direction: column;
}
.footer-right a,
.footer-left a {
  color: #6c6767;
}
.footer-right a:hover,
.footer-left a:hover {
  color: black;
}
.footer-copyright {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding-left: 30px;
  }
  .footer-copyright {
    width: 80%;
  }
}
