.service {
  padding: 0 64px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.single-service {
  box-shadow: 1px 4px 6px 0px #cdcdcd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ffc33c8c;
  transition: 0.5s all;
}
.single-service:hover {
  box-shadow: -6px -3px 6px 0px #cdcdcd;
  background-color: beige;
}
.single-service h4 {
  margin-top: 10px;
}
.single-service p {
  font-size: 15px;
  text-align: center;
}
/* responsive */
@media screen and (max-width: 768px) {
  .service {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .service {
    padding: 0px;
    margin-top: 16px;
  }
}
